application_files/datatype/%7Burn%3Acom%3Aappian%3Atypes%3APMX%7DtestCDT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:PMX"
  xmlns:tns="urn:com:appian:types:PMX" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="testCDT">
    <xsd:sequence>
      <xsd:element name="textField" nillable="true" type="xsd:string"/>
      <xsd:element name="integerField" nillable="true" type="xsd:int"/>
      <xsd:element name="decimalField" nillable="true" type="xsd:double"/>
      <xsd:element name="dateField" nillable="true" type="xsd:date"/>
      <xsd:element name="dateTimeField" nillable="true" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
